body, html {
    background: gray;
    min-height: 100vh;
    text-align: center;
}

input {
    width: 300px;
    height: 30px;
    margin: 5px;
}

.panel {
    position: absolute;
    color: black;
    background-color: white;
    top: 25%;
    left: 40%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid black;
    border-radius: 15px;
}

h2 {
    padding-top: 30px;
    font-size: 15px;
}

h3 {
    color: white;
    font-size: 40px;
}

a {
    text-decoration: none;
}

/*Anfang Navigation*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 100px;
    z-index: 100000;
    background-color: steelblue;
    
}

header .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li a:hover {
    color: black;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/lobby-3.png);
    background-size: cover;
    filter: brightness(50%);
}

.logo {
    width: 60px;
}

#login {
    padding-left: 60px;
    color: black;
}

#login:hover {
    color: white;
}
/*Ende Navigation*/