* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

h1 {
    margin: 500px;
}

h2 {
    font-size: 15px;
    margin-top: 100px;
}

/*Navigation*/


.nav {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 100px;
    z-index: 100000;
    background-color: steelblue;  
}

header .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 60px;
}

#login {
    margin-left: 80px;
}
/*Ende Navigation*/

/*Login*/

.form {
    width: 50%;
    position: relative;
    height: 50px;
    margin: 10px;
}

.form input {
    width: 100%;
    height: 100%;
    color: gray;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    font-size: 20px;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid cyan;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 16px;
    color: cyan;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after {
    transform: translateX(0%);
}

.login {
    border: none;
    outline: none;
    background-color: rgb(180, 180, 180);
    padding: 25px;
    border-radius: 90px;
    margin: 15px;
}

.login a {
    text-decoration: none;
    color: white;
}