body {
    background: rgb(128, 128, 128);
    min-height: 100vh;
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 100px;
    z-index: 100000;
    background-color: steelblue;  
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

h1 {
    color: white;
    font-size: 100px;
    font-family: Balsamiq Sans;
}

h3 {
    color: white;
    font-size: 40px;
}

/*Anfang Navigation*/
header .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li a:hover {
    color: black;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/lobby-1.png);
    background-size: cover;
    filter: brightness(50%);
}

.logo {
    width: 60px;
}

#login {
    padding-left: 60px;
    color: black;
}

#login:hover {
    color: white;
}
/*Ende Navigation*/

/*Welcome Anfang*/
.message {
    position: absolute;
    left: 35%;
    bottom: 45%;
    color: white;
}

#counter {
    position: absolute;
    bottom: 40%;
    left: 37%;
    color: white;
}

#count {
    color:rgb(0, 0, 255);
}

#server {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Welcome Ende*/

/*Games Anfang*/
.games {
    background-color: rgb(46, 46, 46);
    padding-bottom: 30px;
}

.games h4 {
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

/*Table Anfang*/
.games th {
    font-size: 50px;
    color: white;
    text-align: center;
}

.games td {
    font-size: 20px;
    color: white;
    text-align: center;
}

.citybuild {
    padding-right: 50px;
    padding-left: 10px;
}

.bedwars {
    padding-left: 50px;
    padding-right: 10px;
}

.citybuild img {
    margin-top: 20px;
    border-radius: 30px;
    width: 100%;
}

.bedwars img {
    margin-top: 20px;
    border-radius: 30px;
    width: 100%;
}
/*Table Ende*/

/*Games Ende*/

/*Team Anfang*/
.team {
    background-color: rgb(128, 128, 128);
    padding: 25px;
}

.team h4 {
    color: white;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

.box {
    display: inline-block;
    padding: 15px;
    background-color: rgb(46, 46, 46);
}

.box-header {
    font-size: 20px;
    padding: 5px;
}

.box-rank {
    display: inline-block;
    background-color: red;
    padding: 10px;
    text-align: center;
}

.box-skin img {
    height: 300px;
}

/*Panel Styling*/
.owner-panel {
    background-color: rgb(46, 46, 46);
    display: inline-block;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.owner-name {
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.owner-rank {
    background-color: #AA0000;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.owner-skin img {
    width: 250px;
}

/*Admin*/
.admin-panel {
    background-color: rgb(46, 46, 46);
    display: inline-block;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.admin-name {
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.admin-rank {
    background-color: #ff1e1e;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.admin-skin img {
    width: 250px;
}

/*Full Team*/
.panel {
    background-color: rgb(46, 46, 46);
    display: inline-block;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.name {
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

.rank {
    background-color: black;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.skin img {
    width: 300px;
}
/*Panel Styling Ende*/
/*Team Ende*/

/*Social Media*/
.social-media {
    background-color: white;
    height: 100%;
}

.social-media table {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-media img {
    width: 50%;
    transition: 0.6s;
}

.social-media img:hover {
    position: relative;
    width: 60%;
    transition: 0.6s;
}

/*Footer*/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25%;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer li {
    padding: 10px;
}
/*Footer Ende*/